[submodule "vendor/libkernaux"]
	path = vendor/libkernaux
	url = https://github.com/tailix/libkernaux.git
[submodule "vendor/mruby"]
	path = vendor/mruby
	url = https://github.com/mruby/mruby.git
[submodule "vendor/drivers"]
	path = vendor/drivers
	url = https://github.com/tailix/drivers.git
